.simpleLink {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Martel Sans Regular", Helvetica, sans-serif;
  font-size: 22px;
  line-height: 20px;
  color: var(--cta-btn-color);
}