.homePage {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  //overflow-y: scroll;

  .homePageBody {
    background: #ffffff;
    height: 100vh;

    .bannerContainer {
      width: 100vw;
      max-width: 100vw;
      height: 100vh;
      display: flex;
      flex-flow: row nowrap;
      background-image: linear-gradient(90deg,rgba(40,99,112,0.3) 29%,#f4f1e8 10%) !important;
      background-color: #eaeaea !important;

      .row {
        width: 100%;
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 17rem;

        .leftSide {
          width: 30%;
          max-width: 750px;
          display: block;

          .treatmentImg {
            width: 83%;
            max-width: 450px;
            position: relative;
            text-align: left;
            margin-left: 0;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .docImg {
            width: 64%;
            max-width: 290px;
            position: relative;
            margin-top: -20%;
            margin-left: 64%;
            text-align: right;
            margin-right: 0;
            margin-bottom: 0;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .rightSide {
          width: 70%;
          display: flex;
          flex-flow: column nowrap;
          justify-items: flex-start;
          align-items: flex-start;
          padding-left: 10%;
          height: 100%;

          .docName {
            font-family: "Source Serif Semi Bold", Helvetica, sans-serif;
            font-size: 1.8rem;
            color: var(--cta-btn-color);
            line-height: 2rem;
            width: 75%;
            font-weight: 700;
            margin-bottom: 2rem;
          }

          .captionSection {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            line-height: 5rem;
            margin-bottom: 6rem;

            .caption {
              color: var(--cta-btn-color);
              font-family: "Source Serif Semi Bold", Helvetica, sans-serif;
              margin-bottom: 0.3rem;
              font-size: 80px;
            }

          }

          .actions {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            .ctaCall {
              margin-left: 3rem;
              width: 330px;
              height: 70px;
              text-transform: uppercase;
              background: transparent;
              border: 2px solid #99c0c5;
              border-radius: 50px;
              padding: 22px;
              color: var(--cta-btn-color);
              font-family: "Martel Sans Extra Bold", Helvetica, sans-serif;
              font-size: 1.2rem;
              text-decoration: none;

              &:hover {
                background: #99c0c5;
                color: #ffffff;
              }
            }
          }
        }
      }

      @media screen and (max-width: 768px) {
        background-image: unset !important;
        background-color: #f4f1e8 !important;
        flex-flow: column nowrap;
        margin-top: 100px;
      }
    }

    .serviceContainer {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      .servicesHeading {
        width: 100%;
        font-family: "Martel Sans Extra Bold", Helvetica, sans-serif;
        text-align: center;
        font-size: 2.5rem;
        line-height: 2rem;
        color: var(--cta-btn-color);
      }

      .servicesList {
        display: flex;
        flex-flow: row nowrap;
        width: 95%;
      }

      @media screen and (min-width: 320px) and (max-width: 768px) {
        height: fit-content;
      }
    }

    .reviews {
      //scroll-snap-align: center;
      //scroll-snap-stop: always;
      margin: 3rem auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      background-image: radial-gradient(circle at left,#dab968 69%,#f4f1e8 69%)!important;

      .reviewTitle {
        font-family: "Martel Sans Extra Bold", Helvetica, sans-serif;
        font-weight: 800;
        color: white;
        margin-left: 1rem;

        @media only screen and (max-width: 768px) {
          font-size: 2rem;
          line-height: 1.2em;
        }

        @media only screen and (min-width: 769px) {
          font-size: 3rem;
        }
      }

      @media only screen and (max-width: 320px) {
        width: 100vw;
        height: 140vh;
      }

      @media only screen and (min-width: 321px) and (max-width: 768px) {
        width: 100vw;
        height: 120vh;
      }

      @media only screen and (min-width: 769px) {
        height: 80vh;
        max-height: 600px;
        width: 100%;
        flex-flow: row nowrap;
      }
    }

    .bannerImage {
      width: 100vw;
      height: 70%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .mobileBannerText {
      text-align: center;
      font-size: 1.8rem;
      color: var(--cta-btn-color);
      font-weight: 700;
    }

    .mobileActions {
      width: 100vw;
      margin: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;

      .ctaCall {
        width: 70vw;
        height: 50px;
        text-transform: uppercase;
        background: transparent;
        border: 2px solid #99c0c5;
        border-radius: 50px;
        color: var(--cta-btn-color);
        font-family: "Martel Sans Extra Bold", Helvetica, sans-serif;
        text-decoration: none;
        padding: 10px;
        margin-top: 1rem;
      }
    }
  }
}
